<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %} {% endblock %} - Quiz Master</title>
    {% endblock %}

    <style>
        .flashes .success {
            color: green;
        }
        .flashes .error {
            color: red;
        }
    </style>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>

    <div id="content">
        {% if current_user.is_authenticated %}
            Hi {{ current_user.fullName }}
        {% endif %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>
